<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Daniel's Website</title>
    <link href="./workspaces/danielswebsite/src/pages/DanielsWebsite.css" rel="stylesheet" type="text/css"/>
    <!-- The following line should not be a stylesheet link if it's a JS file; remove or correct as needed -->
    <!-- <link href="./workspaces/danielswebsite/src/pages/DanielsWebsite.js" rel="stylesheet"> -->
  </head>
  <body style="background-color:powderblue">
    <h1 class="title" style="text-align:center; font-family:Times New Roman;">Daniel's Journal</h1>
    <p style="text-align:center;color:blue">
      <a target="_blank" href="https://www.autra.ai">CLICK HERE -Sign Up For Cool Robotics and Coding Lessions-CLICK HERE</a>
    </p>
    <p style="text-align:center;color:#ee8904">
      <a target="_blank" href="https://www.theartistlabsd.com">
        CLICK HERE <code>--></code> Sign up For Cool Art Lessions<code><--</code> CLICK HERE
      </a>
    </p>
    <p style="text-align:center; font-family:Times New Roman">
      <a href="/DanielsWebsite.html">Go to DanielsWebsite</a>
    </p>

      
    <h1> Hello There</h1>
    <p>Welcome to my website!</p>
    <p> You can find links that lead to different pages</p>
  </body>
</html>